:root {
	--color-bg: #202020;
	--color-bg-variant: #1a1a1a;
	--color-primary: #ff4d4d;
	--color-primary-variant: rgba(255, 0, 0, 0.58);
	--color-white: #fff;
	--color-light: rgba(181, 181, 181, 0.6);
}
